body {
    background-color: #EEEEEE;
}
input[type=text]{
    padding: 10px;
    font-size: 14px;
}
.azul{
    background-color: #0000FF;
    color: #FFF;
}
.vermelho{
    background-color: red;
    color:#FFF
}
.verde{
    background-color: green;
    color:#000;
}
#telefone {
    display:none;
}
.visivel {
    display: block;
}